# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db
*.ipch
.vs/string_fold/v17/.suo
x64/Debug/string_fold.pdb
x64/Release/output.txt
x64/Release/string_fold.pdb
.vs/
string_fold/x64
